/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@font-face {
    font-family: "Helvetica Neue LT Pro 53 Extended";
    src: url('assets/helvetica-neue_lt_pro_53_extended.otf') format('opentype');
}

$dark: #282828 !default;
$white: #fff;
$beige: #f7bb93;
$turquoise: #54ccb4;
$gray: #dee2e6;

body {
    font-family: 'Helvetica Neue LT Pro 53 Extended', sans-serif;
    margin: 0;
}

menu {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0!important;
}

// @keyframes slideInRight {
//     0% {
//       transform: translateX(100%);
//       opacity: 0;
//     }
//     100% {
//       transform: translateX(0);
//       opacity: 1;
//     }
//   }

//@media screen and (min-width: 960px) {}

@media screen and (max-width: 480px) {
    body {
      font-size: 11px;
    }
}